# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Database project
CAJ/

# Docs
docs/

# OS
.DS_Store
Thumbs.db
