html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content-grid {
  display: grid;
  grid-template-areas: "index article";
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
  margin: auto 0;
  align-items: start;
}

h1 {
  font-size: 2rem;
}

.page-index h2 {
  margin-bottom: 1rem;
}

.page-index a {
  text-decoration: none;
  color: #102b42;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.article-subheading {
  font-size: 1.5rem;
  padding-top: 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
}

.page-index {
  grid-area: index;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
}

.page-index ul {
  list-style: none;
  padding: 0;
}

.page-index li {
  margin-bottom: 0.5rem;
}

.note-article {
  grid-area: article;
  text-align: left;
}

.note-article h1 {
  margin-bottom: 0.5rem;
}

.note-article .author {
  font-style: italic;
  color: #555;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .content-grid {
    grid-template-areas:
      "article"
      "index";
    grid-template-columns: 1fr;
  }
}

/* No se si deberiamos de centrarlo pero 
   no queda mal asi cuando lo ves pantalla completa.*/
.comment-box{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-box label {
  font-weight: bold;
  color: #333;
}

.comment-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: vertical; /* Permite al usuario agrandar el textbox verticalmente */
  font-size: 14px;
  margin-top: 10px;
}

.comment-box button {
  background-color: #102b42;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.comment-box button:hover {
  background-color: rgba(16, 43, 66, 0.9);
}

.commentaries-section{
  max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.commentaries-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.commentaries-section .comment{
  margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.commentaries-section .author{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.commentaries-section .author-img{
  width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.commentaries-section .author label{
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.commentaries-section .comment label{
  font-size: 14px;
    color: #555;
    line-height: 1.5;
}