main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  text-align: left;
  padding: 2rem;
  position: relative;
}

.grid {
  display: grid;
  grid-template-rows: 120px 1fr 60px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

/*main*/
.main-content {
  grid-area: main;
  padding: 2rem;
  color: #142a3f;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #142a3f;
}

/*materias*/
.materias {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: column;
}

.materias a {
  padding: 12px 24px;
  width: 1000px;
  background-color: #142a3f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: backround-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}

.materias a:hover {
  background-color:rgba(20, 42, 63, 0.86);
  transform: scale(1.05);
}
/* editor */
.editor-form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
}

.redondeado {
  border-radius: 12px;
}

.publicar-btn {
  padding: 0.8rem 1.5rem;
  background-color: #142a3f;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.publicar-btn:hover {
  background-color: rgba(20, 42, 63, 0.86);
}

.tabla-titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #142a3f;
}

.markdown-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
}

.markdown-table th,
.markdown-table td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: left;
}

.markdown-table th {
  background-color: #142a3f;
  color: white;
}

.archivo-label {
  font-size: 1rem;
  color: #142a3f;
  font-weight: bold;
}

input[type="file"]::file-selector-button {
  background-color: #142a3f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgba(20, 42, 63, 0.86);
}