main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
}

.grid {
  display: grid;
  grid-template-rows: 120px 1fr 60px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

/*main*/
.main-content {
  grid-area: main;
  padding: 2rem;
  color: #142a3f;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #142a3f;
}

/*materias*/
.materias {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.materias a {
  padding: 12px 24px;
  width: 1000px;
  background-color: #142a3f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: backround-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}

.materias a:hover {
  background-color:rgba(20, 42, 63, 0.86);
  transform: scale(1.05);
}
