<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login-CAAJ</title>
    <link rel="stylesheet" href="./static/estilos/login.css" />
    <link rel="stylesheet" href="./static/estilos/header.css" />
    <link rel="stylesheet" href="./static/estilos/global.css" />
    <link rel="stylesheet" href="./static/estilos/footer.css" />
  </head>
  <body>
    <div class="loginfondo">
      <h1>Iniciar sesion</h1>
      <form id="form" action="#" method="post">
        <div class="form-group">
          <label for="mail">Mail</label>
          <input
            type="text"
            name="mail"
            id="mail"
            required
            onblur="check(this.id)"
          />
          <span class="error-msg" id="error-mail"></span>
        </div>
        <div class="form-group">
          <label for="con">Contraseña</label>
          <input
            type="password"
            name="contra"
            id="con"
            required
            onblur="check(this.id)"
          />
          <span class="error-msg" id="error-con"></span>
        </div>
        <div class="form-footer">
          <input type="submit" value="Ingresar" id="submit-btn" />
          <input type="reset" value="Resetear" />
          <br />
          <div class="links">
            <a href="register.html">Registrarse</a>
            <a href="index.html">Volver</a>
          </div>
        </div>
      </form>
    </div>
    <script src="./static/js/login.js"></script>
  </body>
</html>
