<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CAAJ</title>
    <link rel="stylesheet" href="./static/estilos/profile.css" />
    <link rel="stylesheet" href="./static/estilos/header.css" />
    <link rel="stylesheet" href="./static/estilos/global.css" />
    <link rel="stylesheet" href="./static/estilos/footer.css" />
  </head>
  <body>
    <header>
        <div class="nav-left">
          <a class="nav-logo" href="./index.html"></a>
          <a class="nav-button" href="./materias.html">Materias</a>
        </div>
        <a class="login-btn" href="./login.html">
          Iniciar sesión
        </a>
      </header>

    <div class="main">
      <div class="content-grid">
        <div class="page-sidebar">
          <h2>Información Personal</h2>
            <p>Nombre: <span id="nombre">NOM</span></p>
            <p>Apellido: <span id="apellido">APELL</span></p>
            <p>Usuario: <span id="usuario">USU</span></p> 
        </div>

        <div class="note-content">
          <h1>Perfil de Usuario</h1>  
            <h2>Bienvenido al perfil</h2>
            <p>Esta es la sección de perfil donde puedes ver tu información personal y apuntes.</p>

            <h2 class="tus-apuntes">Tus apuntes</h2>
            <div class="lista-apuntes">
                <a href="./apunte.html" href id="apunte">Apunte 1</a>
                <a href="./apunte2.html" id="apunte2">Apunte 2</a>
                <a href="./apunte2.html" id="apunte3">Apunte 3</a>
            </div>
        </div>
      </div>
    </div>

    <footer>
      <div>© 2025 CAAJ. Todos los derechos reservados.</div>
      <div class="socials">
        <a href="http://google.com"><span class="logo-facebook"></span></a>
        <a href="http://google.com"><span class="logo-instagram"></span></a>
        <a href="http://google.com"><span class="logo-linkedin"></span></a>
        <a href="http://google.com"><span class="logo-twitter"></span></a>
      </div>
    </footer>

    <script src="./static/js/sidebar.js"></script>
  </body>
</html>
