<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="./static/estilos/register.css">
    <link rel="stylesheet" href="./static/estilos/header.css" />
    <link rel="stylesheet" href="./static/estilos/global.css" />
    <link rel="stylesheet" href="./static/estilos/footer.css" />
    
</head>
<body>
    <div class="registerfondo">
        <h1>Registrarse</h1>
    <form id="regis-form" action="" >
        <div class="form-group">
            <label for="nom01">Nombre</label>
            <input type="text" name="nombre" id="nom01" required title="Solo letras y espacios." onblur="check(this.id)">
            <span class="error-msg" id="error-nom01"></span>
        </div>
        <div class="form-group">
            <label for="ape01">Apellido</label>
            <input type="text" name="apellido" id="ape01" required onblur="check(this.id)" >
            <span class="error-msg" id="error-ape01"></span>
        </div>
        <div class="form-group">
            <label for="mail01">Mail</label>
            <input type="email" name="mail" id="mail01" required onblur="check(this.id)" >
            <span class="error-msg" id="error-mail01"></span>
        </div>
        <div class="form-group">
            <label for="con01">Contraseña</label>
            <input type="password" name="contra" id="con01" required onblur="check(this.id)">
            <span class="error-msg" id="error-con01"></span>
        </div>
        <div class="form-footer">
            <input type="submit" value="Enviar" id="submit-btn">
            <input type="reset" value="Resetear">
            <br>
            <div class="links">
                <a href="login.html">Iniciar sesión</a>
                <a href="index.html">Volver</a>
            </div>
        </div>
    </form>
    <script src="./static/js/register.js"></script>
</body>
</html>